In [7]:
import pandas as pd
import random 
import numpy as np
import string
from random import shuffle

In [8]:
lower_alphabet = string.ascii_lowercase

In [9]:
all_prices = []
for i in range(len(lower_alphabet)):
    prices = [random.uniform(1,100) for j in range(365)]
    all_prices.append(prices)

In [10]:
data_frame = pd.DataFrame(np.array(all_prices).T, columns=list(lower_alphabet))

In [11]:
display(data_frame.head())

,a,b,c,d,e,f,g,h,i,j,...,q,r,s,t,u,v,w,x,y,z
0,16.112046,45.043323,34.760161,39.080611,23.954685,59.517495,12.044223,5.229402,71.401346,96.184750,...,19.321955,13.011552,70.274770,8.302538,95.160402,50.337004,9.134849,76.497600,51.885730,29.256673
1,18.429321,67.311355,44.498426,62.534986,12.756834,49.769261,61.952343,23.156132,71.480424,60.940044,...,22.971109,26.196641,93.465012,15.696795,80.874936,58.611733,59.266286,5.767144,57.897844,89.808177
2,86.581969,49.917271,39.222873,33.325479,50.416215,22.831300,54.743900,51.541679,84.115995,57.526369,...,47.516906,49.370913,47.448365,19.824859,6.700591,15.493329,48.907932,30.833450,91.452755,3.152308
3,10.734337,41.297918,70.549311,79.919217,90.904817,48.060837,12.803529,90.108719,93.583950,35.204966,...,61.709816,26.702644,18.886351,22.082993,88.840239,66.568774,94.073323,26.100302,15.983512,12.793917
4,74.938456,59.663504,91.711841,33.510676,2.696736,30.944351,39.451443,12.786377,14.650758,26.243615,...,34.008573,11.440238,8.628691,8.072969,56.933533,48.614441,75.668754,61.001929,91.898167,68.609864

In [12]:
data_frame.to_excel(r'data/tickers_prices2.xlsx', index=False)