In [137]:
import pyodbc
import pandas as pd

In [138]:
df = pd.read_excel(r'data/tickers_prices2.xlsx')
display(df.head(3))

,a,b,c,d,e,f,g,h,i,j,...,q,r,s,t,u,v,w,x,y,z
0,16.112046,45.043323,34.760161,39.080611,23.954685,59.517495,12.044223,5.229402,71.401346,96.184750,...,19.321955,13.011552,70.274770,8.302538,95.160402,50.337004,9.134849,76.497600,51.885730,29.256673
1,18.429321,67.311355,44.498426,62.534986,12.756834,49.769261,61.952343,23.156132,71.480424,60.940044,...,22.971109,26.196641,93.465012,15.696795,80.874936,58.611733,59.266286,5.767144,57.897844,89.808177
2,86.581969,49.917271,39.222873,33.325479,50.416215,22.831300,54.743900,51.541679,84.115995,57.526369,...,47.516906,49.370913,47.448365,19.824859,6.700591,15.493329,48.907932,30.833450,91.452755,3.152308

In [139]:
data_conection = ("Driver={SQL Server};"
                 "Server=DESKTOP-0EKP870;"
                 "Database=InsertDataTest;")
cnxn = pyodbc.connect(data_conection)
cursor = cnxn.cursor()

In [140]:
columnName = list(df.columns)
columnDataType = ['FLOAT' for i in range (len(columnName))]
createTableStatement = 'USE InsertDataTest \n CREATE TABLE Table{} ('.format(2)
for i in range(len(columnDataType)):
    createTableStatement = createTableStatement + '\n' + columnName[i] + ' ' + columnDataType[i] + ','
createTableStatement = createTableStatement[:-1] + ' );'

In [141]:
InsertValuesTable = 'INSERT INTO Table{}('.format(2)
for i in range(len(columnName)):
    InsertValuesTable = InsertValuesTable + columnName[i] + ',' + ' '
InsertValuesTable = InsertValuesTable[:-2] + ')\n VALUES'

In [142]:
subset = df[list(df.columns)]
tuples = [tuple(x) for x in subset.to_numpy()]

In [143]:
values_rows = '('
for numeric in tuples[0]:
    values_rows = values_rows + str(numeric) + ',' + ' '
values_rows = values_rows[:-2] + ')' + ',' + '\n'
for i in range(1, len(tuples)-1):
    values_rows = values_rows + '('
    for numeric in tuples[i]:
        values_rows = values_rows + str(numeric) + ',' + ' '
    values_rows = values_rows[:-2] + ')' + ',' + '\n'
values_rows = values_rows + '('
for numeric in tuples[-1]:
    values_rows = values_rows + str(numeric) + ',' + ' '
values_rows = values_rows[:-2] + ')' + '\n'

In [144]:
cursor.execute(createTableStatement + InsertValuesTable + values_rows)
cnxn.commit()